body{
    background-color: #accffe;
}
.login-container
{ 
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.login{
    
    border-radius: 10px;
    width: 35%;
    padding: 20px;
}

.login-page{
    display: flex;
    height: 100vh;
}

.input-field{
    margin-bottom: 10px;
}

