.container{
border:2px solid grey;
display:flex;
}
.profileContainer
{
    border:2px solid black;
    display: flex;
}
.leftProfileContainer
{
    border:2px solid violet;

}
.leftProfileContainer img{
    border-radius: 50%;
    height:50px;
}
.rightProfileContainer
{
    border:2px solid yellow
}
.profileBody
{
    border:2px solid white;
    width: 60rem
}